*{
    margin: 0;
    padding: 0;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    color: #80956d;
    background-color: rgb(46, 65, 46);
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    
}
.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0px auto;
    padding:0 2%;
}
header{
    justify-content: space-between;
    padding: 20px 0px;
    background-color:rgb(46, 65, 46);
    
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 110px;
}

.nome a{
    text-decoration: none;
}

.nome h1{
    color: white;
    padding-top: 19px;
    width: 70%;
    font-size: 25px;
    flex-direction: column;
    line-height: 10px;
}

 .nome h2{
    line-height: 45px;
    font-size: 25px;
    color:#80956d;
 }

 h2{
    color: white;
 }

 p{
    color: white;
    font-size: 20px;
 }

.logo{
    width: 90px;
}

.menu{
    padding-top: 20px;
    width: 80%;
    text-align: right;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 25px;
}

.mulher{
    width: 500px;
}

form [type="button"]{
    height: 50px;
    width: 40%;
    color: white;
    font-weight: bold;
    background-color: #80956d;
}

input{
    cursor: pointer;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
}

span{
    color: #80956d;
}

footer {
	background-color: rgb(46, 65, 46);
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 120px;
}

.social{
    list-style: none;
	padding: 0;
	margin: 0; 
    display: inline-block;
	margin: 0 10px;
}
.social a{
    padding-top: 50px;
    margin-right: 25px;
    
}
